$main: black;
$invert: white;
$gmain: #4c8bf5;
$ghover: #376dca;

.button {
  font-family: 'Open Sans Condensed';
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: lighter;
  height: auto;
  width: auto;
  padding: 10px 7.5px;
  transition: 0.2s ease-out;
  background-color: $invert;
  border: 1px solid $main;
  color: $main;

  &:hover {
    color: $invert;
    background-color: $main;
  }
}

.googleButton {
  background-color: $gmain;
  color: $invert;
  width: 50%;

  &:hover {
    cursor: pointer;
    background-color: $ghover;
    color: $invert;
  }
}
