.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 420px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 75px;
  z-index: 5;

  .cart-item {
    height: 350px;
    width: 103%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .button {
    margin-top: auto;
  }
}
