.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    align-items: center;
  }
  .options {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      width: 50%;
      height: 100%;
      font-size: 18px;
      padding: 25px;
      letter-spacing: 3px;
    }
  }
}
