.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }
  .options {
    width: 400px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    .option {
      min-width: 25%;
      width: auto;
      height: 50px;
      font-size: 13px;
      padding: 15px;
      margin-right: 10px;
      letter-spacing: 3px;
      transition: 0.3s ease-out;
      text-align: center;

      &:hover {
        transform: scale(1.1);
        color: white;
        background-color: black;
      }
    }
  }
}
