.category {
  display: flex;
  flex-direction: column;
  flex: 1;

  .items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;



  }

  .title {
    font-size: 36px;
    margin: 0 50%;
  }
}
