.cart-container {
  height: 75px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 10px 0px;

  .image-container {
    width: 6vw;
    height: 100%;

    .cart-image {
      height: 10vh;
      width: 10vh;
      background-size: cover;
      background-position: center;
    }
  }

  .description {
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
      font-size: 18px;
    }

    .subtitle {
      font-size: 14px;
    }
  }
}
